@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Root variables */
:root {
  --primary-color: #0ef;
  --text-color: #333;
  --background-color: #fff;
  --footer-background-color: #333;
  --footer-text-color: white;
  --border-color: skyblue;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Constantia", "Georgia", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header, footer {
  font-family: "Arial", sans-serif;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Header styles */
header {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.top-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--border-color);
}

.logo {
  margin-right: auto;
}

.logo img {
  max-width: 364px; /* Increased width */
  max-height: 364px; /* Added height */
}

.contact-info {
  display: flex;
  gap: 20px;
}

.contact-info .icon {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
}

/* Navigation styles */
nav {
  width: 100%;
  background-color: var(--background-color); /* Optional: add a background color */
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

nav li {
  position: relative;
  margin: 0 10px;
}

nav a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  padding: 6px 20px;
  transition: color 0.3s, background-color 0.3s;
  display: inline-block;
  outline: none; /* Remove focus outline */
}

nav a:focus, nav a:active {
  outline: none; /* Ensure focus outline is removed */
  box-shadow: none;
}

nav a:hover {
  color: var(--primary-color);
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-color); /* Optional: add a background color */
  box-shadow: 20px 8px 16px rgba(0, 0, 0, 0.6); /* Darker and stronger shadow */
  border-radius: 10px; /* Rounded edges */
  padding: 0;
  margin: 0;
  z-index: 150;
}

nav ul ul li {
  width: 200px;
  text-align: left;
}

nav ul ul a {
  padding: 10px 20px;
  transition: none; /* Disable underline animation for submenu items */
}

nav li:hover > ul {
  display: block;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 15px;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav a:hover::before {
  width: 100%;
  left: 0;
}

nav ul ul a::before {
  content: none; /* Disable underline for submenu items */
}



/* Slideshow styles */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

.blue-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 206, 250, 0.5);
  pointer-events: none;
}

.word {
  font-size: 114px;
}

.mySlides {
  transition: opacity 0.5s ease;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 48px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text.bottom-left {
  bottom: 20px;
  left: 20px;
  text-align: left;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

@media only screen and (max-width: 600px) {
  .prev, .next, .text {
    font-size: 14px;
  }

  .text {
    bottom: 10px;
    left: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }

  .text {
    bottom: 5px;
    left: 5px;
  }
}





/* Add this style for the scroll line */
#scroll-line {
  position: absolute;
  top: 0;
  height: 5px; /* Adjust height as needed */
  background-color: blue; /* Adjust color as needed */
  width: 0; /* Initially no width */
  transition: width 0.3s ease; /* Add transition for smooth animation */
}


.content {
  margin-top: 50px; /* Adjust spacing as needed */
}

.call-content {
  padding: 20px;
}






/* Content styles */
.content {
  padding: 40px;
  background-color: var(--background-color);
}

.welcome-section {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('wel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: auto; /* Fixes the background image during scroll */
}


.welcome-section hr {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}

.welcome-section .top-line {
  margin-bottom: 20px;
}

.welcome-section .bottom-line {
  margin-top: 20px;
}

.welcome-section h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: rgba(30, 63, 157, 255);
  margin-bottom: 20px;
}

.welcome-section p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: black;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}




.nurse-call-box {
  position: relative; /* Position relative for pseudo-element */
  border: 5px solid lightblue;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent for blending */
  z-index: 1; /* Ensure content is above the pseudo-element */
}

.nurse-call-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px; /* Match the box's border radius */
  z-index: -1; /* Place the background behind the content */
  opacity: 0.3; /* Adjust opacity if needed */
}

.nurse-call-box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1e3f9d;
  text-align: center;
}

.nurse-call-box ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding-left: 20px;
}

.nurse-call-box ul li {
  margin-bottom: 10px;
}











.core-values-section {
  background-image: url('tab.jpg');
  background-size: 40%; /* Expanded background image size */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 80px 0; /* Increased padding for more space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.core-values-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Faint white overlay */
  z-index: 1;
}

.content-wrapper {
  position: relative;
  z-index: 2;
  max-width: 1200px; /* Further increased max-width */
  padding: 30px; /* Increased padding for more space */
  background-color: rgba(255, 255, 255, 0.6); /* Light background for text readability */
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow for better effect */
  text-align: center;
}

.core-values-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem; /* Increased title size */
  color: #1e3f9d; /* Updated title color */
  margin-bottom: 30px; /* Increased bottom margin */
}

.core-values-columns {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Stretch the items to align parallelly */
  gap: 100px; /* Further increased space between the two columns */
}

.core-values-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50%; /* Increased width for better distribution */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure items are equally spaced */
  height: 100%; /* Full height for even spacing */
}

.core-values-list li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem; /* Increased text size */
  color: black;
  margin-bottom: 10px; /* Increased bottom margin */
  padding-left: 0; /* Remove left padding */
  position: relative;
  display: flex;
  align-items: center;
  min-height: 70px; /* Increased min-height for better spacing */
}

.core-values-list li i {
  margin-right: 15px; /* Increased space between icon and text */
  color: #000; /* Icon color */
  font-size: 1.8rem; /* Increased icon size for better visibility */
}

.core-values-list li::before {
  content: ''; /* Remove the bullet point */
}
















.principal-message-section {
  background-image: url('principalbg.png'); /* Set the background image */
  background-size: cover; /* Ensure the image covers the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image repetition */
  padding: 40px 20px; /* Adjust padding as needed */
  display: flex; /* Spread section sidewise */
  justify-content: center; /* Center align the content */
  text-align: center; /* Center align text in the section */
  min-height: 100vh; /* Ensure full viewport height for background coverage */
  width: 100%; /* Full width of the parent container */
  overflow-x: hidden; /* Prevent horizontal overflow */
  box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.principal-message-section .content-wrapper {
  max-width: 1200px; /* Increase max width to spread section */
  margin: 0 auto; /* Center align the content wrapper */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white for the content */
  border: 2px solid #000; /* Black border for consistency */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow */
  backdrop-filter: blur(10px); /* Optional: Adds a blur effect for better text readability */
}

.principal-message-section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #1e3f9d; /* Title color */
  margin-bottom: 20px;
}

.message-content {
  display: flex;
  align-items: center; /* Align items vertically center */
  gap: 20px; /* Space between text and image */
}

.message-text {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center the content vertically */
  flex: 1 1 60%; /* Allow text to take up 60% of the width, flexible */
  text-align: left; /* Left align text for better readability */
}

.message-text h3 {
  font-family: 'Times New Roman', serif;
  font-size: 1.6rem; /* Adjusted font size for quote */
  color: black; /* Black text color */
  font-style: italic; /* Italic style for quote */
  margin: 0; /* Remove margin */
  text-align: left; /* Left align the quote */
  white-space: nowrap; /* Prevent the quote from wrapping to a new line */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis if the text is too long */
  display: flex; /* Enable flexbox for alignment */
  align-items: center; /* Center align items vertically */
}

.message-text h3:last-of-type {
  font-size: 1.1rem; /* Adjusted size for the author */
  text-align: right; /* Right align the author */
  margin-top: 10px; /* Reduced spacing between quote and author */
  display: block; /* Ensure the author is on its own line */
  white-space: nowrap; /* Prevent wrapping */
}

.message-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: black; /* Black text color */
  line-height: 1.6; /* Improve readability with line height */
  margin-top: 20px; /* Increased space above the paragraph */
  margin-bottom: 0; /* Remove bottom margin */
}

.message-image {
  position: relative;
  display: flex;
  align-items: center; /* Center align image vertically */
  flex: 0 1 35%; /* Allow image to take up 35% of the width, flexible */
  justify-content: center; /* Center align image horizontally */
}

.message-image img {
  width: 350px; /* Increased size of the image */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners for image */
  transition: transform 0.3s ease; /* Smooth transition for the hover effect */
  position: relative;
  top: 20px; /* Lower the image to match the center of the text */
}

.message-image img:hover {
  transform: scale(1.1); /* Scale image on hover */
}















/* Scroll to Top Button Styles */
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed positioning for the button */
  bottom: 40px; /* Distance from the bottom */
  right: 40px; /* Distance from the right */
  background-color: rgba(30,63,157,255); /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  border-radius: 50%; /* Rounded shape */
  width: 50px; /* Width of the button */
  height: 50px; /* Height of the button */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: opacity 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  z-index: 1000; /* Ensure it is above other elements */
  font-size: 20px; /* Font size for the icon */
  justify-content: center; /* Center icon horizontally */
  align-items: center; /* Center icon vertically */
  display: flex; /* Flexbox to center icon */
}

#scrollToTopBtn:hover {
  background-color: #587ab9; /* Darker shade on hover */
}

#scrollToTopBtn:active {
  transform: scale(0.95); /* Scale down on click */
}

















.footer {
  background-color: #192841;
  color: var(--footer-text-color);
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Align segments evenly */
  flex-wrap: wrap;
}

.footer-segment {
  flex: 1;
  margin: 20px;
  max-width: 280px;
  min-width: 200px;
}

.logo-segment {
  text-align: left;
  max-width: 100%;
}

.footer-logo {
  max-width: 260px; /* Increased width */
  max-height: 260px; /* Added height */
}

.footer-college-name {
  font-size: 1.5em;
  margin-top: 10px;
}

.footer-segment h3 {
  margin-bottom: 10px;
}

.footer-segment ul {
  list-style-type: none;
  padding: 0;
}

.footer-segment ul li {
  margin-bottom: 10px; /* Adds spacing between items */
}

.footer-segment ul li a {
  color: var(--footer-text-color); /* Ensures text color matches footer text color */
  text-decoration: none; /* Removes underline */
}

.footer-segment ul li a:hover {
  text-decoration: none; /* Ensures no underline on hover */
}

.footer-segment p {
  margin: 10px 0;
  color: var(--footer-text-color); /* Ensures text color matches footer text color */
}

.footer-segment p i {
  margin-right: 10px;
}

.footer-segment ul li a {
  color: #ddd; /* Set the link color to match the footer text color */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Makes the links bold */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.footer-segment ul li a:hover {
  color: red; /* Changes color on hover to red */
  text-decoration: none; /* Ensures no underline on hover */
}

.map-container {
  margin-top: 20px; /* Adds space above the map */
  border: 2px solid #ccc; /* Optional: Add border for the map */
  border-radius: 8px; /* Rounded corners for the map */
  overflow: hidden; /* Ensures the map does not overflow */
  max-width: 100%; /* Ensures the map is responsive */
  width: 230px; /* Decreased the fixed width */
  height: 160px; /* Decreased the fixed height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.map-container iframe {
  width: 100%; /* Makes the map responsive to container width */
  height: 100%; /* Makes the map responsive to container height */
  border: none; /* Removes the default border */
}


.footer-segment .phone-number {
  color: white; /* Set the phone number color to white */
  text-decoration: none; /* Remove underline */
  font-weight: normal; /* Normal font weight */
}

.footer-segment .phone-number:hover {
  color: white; /* Ensures no color change on hover */
  text-decoration: none; /* No underline on hover */
}

/* Gallery Styling */
.gallery-segment {
  max-width: 100%;
  text-align: left;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #333; /* Fallback background */
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the square */
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Fullscreen Modal */
.fullscreen-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreen-modal img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.fullscreen-modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fullscreen-modal .close:hover {
  color: red;
}


